body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.section {
  margin-bottom: 30px;
}

.title {
  color: #333;
}

.welcome {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.motivation {
  font-style: italic;
}

.calendar {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calendar-wrapper {
  /* Estilos para el calendario */
}

.activities {
  margin-top: 20px;
}

.add-activity {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.input-half {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-full {
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  /* resize: none; */
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

/* CSS DEL CALENDARIO */
